name: Package DmFors.WebApi.Shared

on:
  push:
    branches: [ main ]


  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 9.0.x

      - name: Install dependencies
        run: dotnet restore WebApi.sln

      - name: Build
        run: dotnet build DmFors.WebApi.Shared/DmFors.WebApi.Shared.csproj --configuration Release --no-restore

      - name: Build the NuGet package
        run: dotnet pack  DmFors.WebApi.Shared/DmFors.WebApi.Shared.csproj --configuration Release --output ${{env.DOTNET_ROOT}}\Package

      - name: Publish NuGet Package
        run: dotnet nuget push ${{env.DOTNET_ROOT}}\Package\*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
